{% extends "layout.html" %}

{% block content %}

<section class="homescreen m-0 flex flex-col w-screen justify-center bg-gray-800 h-screen text-gray-100">
    <h1 class="italic text-6xl  my-auto mx-auto  md:mx-48">
        {{ message }} <br />
    </h1>
</section>
<!--
<div class="bg-cover bg-center  h-auto text-white py-24 px-10 object-fill" style="background-image: url(https://images.unsplash.com/photo-1558981806-ec527fa84c39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
    <div class="md:w-1/2">
     <p class="text-3xl font-bold">{{ message }}</p>
    </div>  
 </div>
-->
{% endblock %}