<!DOCTYPE html>
<html class='h-full'>

<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/base.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/components.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.5/dist/utilities.min.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>

<body class='flex flex-col h-full'>
    <div id="content">{% block content %}{% endblock %}</div>
    <hr class="border-0 bg-gray-500 text-gray-500 h-px">
    <section>
        <div id="list">
            <p class="font-mono md:font-serif">
                {% block list %}{% endblock %}
            </p>
        </div>
    </section>
    <hr class="border-0 bg-gray-500 text-gray-500 h-px">
    <article class="prose prose-xl prose-blue">
        <h1>Garlic bread with cheese: What the science tells us</h1>
        <p>
            For years parents have espoused the health benefits of eating garlic bread with cheese to their
            children, with the food earning such an iconic status in our culture that kids will often dress
            up as warm, cheesy loaf for Halloween.
        </p>
        <p>
            But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
            springing up around the country.
        </p>
        <!-- ... -->
    </article>
    <hr class="border-0 bg-gray-500 text-gray-500 h-px">
    <p class="text-6xl font-mono text-right italic font-extrabold text-black">Hello World</p>

    <footer class="w-full text-center border-t border-grey p-4 pin-b">
        {% block footer %}
        Made with ❤ by <a href="http://domain.invalid/">Sudheer Sanagala</a>.
        {% endblock %}
    </footer>
</body>

</html>