{% extends "layout.html" %}
{% block title %}{{name}}{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}
<h1 class="text-4xl font-serif text-center text-blue-400">Hello {{name}}!</h1>
<p class="text-4xl font-serif text-center text-blue-400">
    Welcome on my awesome homepage.
</p>
{% endblock %}

<ul class=" list-reset flex flex-col">
{% block list %}
{%for i in range(0, len)%}
<li class="rounded-t relative -mb-px block border p-4 border-grey">{{fruits[i]}}</li>
{%endfor%}

{% endblock %}
</ul>